{% extends 'base.html' %}
{% block content %}
    {% for article in articles %}
        <div class="post-preview">
            <a href='article/{{ article.article_id }}'>
                <h2 class="post-title">
                    {{ article.title }}
                </h2>
                <h3 class="post-subtitle">
                    {{ article.body }}
                </h3>
            </a>
            <p>{{ article.category_name }}</p>
            <p class="post-meta">Posted by
                <a href="/user/#">{{ article.author }}</a>
                {{ article.create_date.strftime("%a, %m %d %y at %I:%M %p") }}</p>
        </div>
    {% endfor %}

    <!-- Pager -->
    <div class="clearfix">
        <a class="btn btn-secondary float-right" href="#">Older Posts &rarr;</a>
    </div>
{% endblock %}